/*------ fonts ------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*----- body -----*/

.bodyart {
  margin: 0 auto;
  display: block;
}

.header {
    display: none;
}

.section1 {
    display: none;
}

.main {
  display: grid;
  width: auto;
  height: 2500px;
  grid-template-rows: auto auto auto auto;
  padding: 0;
  margin: 0;
}

/*------ fist template -----*/

.firsttemplate {
  display: flex;
  flex-direction: column;
  background-image: url(images/hero-bg-mobile.png);
  background-position: 0 1px;
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
}

/*------ hamburguer ------*/

..navbar {
  margin: 1.5rem 2rem;
}

.nav-list {
  display: none;
}

.navbar.active .nav-list {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 0;
  background: rgba(96, 112, 255, 0.9);
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  padding: 8rem 2rem;
}

.nav-list.active,
.item-styles {
  display: block;
  margin: 2rem 0 0 0;
  text-align: justify;
  color: #fff;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

#hamburguer {
  margin-top: 40px;
  margin-left: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/*----- title -----*/


.info {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 70px;
  margin-left: 12px;
}

.title1 {
  font-family: 'Lato', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12px;
  font-weight: 1000;
  color: #b20808;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  scroll-behavior: smooth;
  opacity: 0.8;
  margin-top: 1px;
  align-items: start;
  width: auto;
}

.title2 {
  font-family: 'Lato', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  font-weight: 1000;
  color: #b20808;
  box-sizing: border-box;
  opacity: 0.8;
  margin-top: 10px;
  align-items: center;
  width: auto;
}

.squareInfo {
  display: flex;
  flex-direction: row;
  border-color: rgb(250, 250, 250);
  padding: 5px 5px 5px 5px;
  border: solid white 2px;
  margin: 0 65px 0 10px;
  background: #f8f8f8;
  align-items: center;
  width: auto;
}

.resumetitle {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  line-height: 1.2;
  color: #565656;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.dateTitle {
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #565656;
  box-sizing: border-box;
  margin-left: 8.5px;
  margin-top: 15px;
}

.siteDir {
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #565656;
  box-sizing: border-box;
  margin-left: 8.5px;
  margin-top: 15px; 
}

/*------- Main Program ------*/

.MainProgram {
  display: flex;
  flex-direction: column;
  background-image: url(images/feature_background.jpg);
 /* background-position: 0 1px;*/
 /* background-size: contain;*/
 /* background-repeat: no-repeat;*/
 /* width: auto;*/
}

.MainProgramTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainProgramT {
  color: #fff;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.8px;
  margin-top: 30.5px;
}

.RedLine {
  background-image: url(./images/title_underlineredline.png);
  margin-top: 15px;
  width: 40PX;
  height: 3px;

}

.ProgramContainer {
  display: grid;
  padding: 6rem 0;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.program {
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0px 15px 0px 15px;
  background-color: #9696962a;
}

.programheader {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.15px;
  color: #ff5438;
}

.programdescription {
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.6px;
  color: #fff;
}

.LinkProgram {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-decoration: underline;
  padding-bottom: 15px;
  color: #fff;
}

.flex3 {
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.flex321 {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}

.flex4 {
  display: flex;
  flex-direction: column;
  background-color: orange;
}

.flex421 {
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
}

@media screen and (min-width: 768px) {

    .main {
        display: grid;
        width: auto;
        grid-template-rows: auto auto auto auto;
        padding: 0;
        margin: 0;
    }

    .firsttemplate {
        background-image: url(images/hero-bg-desktop.png);
        margin: 150px 0 0 0;
    }

    .hamburguer {
        display: none;
    }

    .title1 {
        font-size: 1.8rem;
        font-weight: 800;
    }

    .title2 {
        font-size: 3.5rem;
        font-weight: 800;
    }

    .resumetitle {
        font-size: 1.6rem;
        line-height: 1.7;
    }

    .dateTitle {
        font-size: 2.8rem;
        font-weight: 700;
    }

    .siteDir {
        font-size: 1.8rem;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .header {
        display: flex;
        flex-direction: column;
        background-color: black;
        margin-top: 0;
        height: 30px;
        width: auto;
        justify-content: end; 
    }

    #header {
        background-color: black;
    }   

    .navbar {
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        height: auto;
        width: auto;
        padding: 0 5px 0 5px;
        margin: 0 5px 0 5px;
        align-items: stretch;
    }

    .section1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .navbar1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-list1 {
        display: flex;
        flex-direction: row;
        align-items: start;
        list-style: none;
    }

    .item-styles1 {
        font-family: 'Lato', sans-serif;
        color: #2b2b2b;
        font-size: 1.8rem;
        font-weight: 500;

    }

    /*.nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        text-align: justify;
        text-align: end;
        list-style: none;
        padding: 0 5px 0 5px;
    }*/

    .header-styles {
        font-size: 15px;
        color: #fff;
        justify-content: space-around;
        padding: auto;
        margin: 0 5px 0 5px;
    }

    .header-container {
        margin-top: 10px;
        margin-left: 10px;
        height: 40%;
        width: 40%;
    }

    .navblack {
      background: white;  
    }

    /*----- Main Program ----*/

    .MainProgram {
      width: 100%;
    }

    .ProgramContainer {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 0.5rem;
    }

    .program {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      justify-items: center;
      padding: 1rem;
    }

}



